body {
    padding: 0;
    margin: 0;
}

.hz {
    border: 2px solid black;
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: indianred;
    text-align: center;
    color: #fff;
    font-size: 2em;
    display: block;
    transition: transform 4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.hz:hover {
    background-color: aquamarine;
}

.hz.initialized {
    transform: scaleY(0.9) scaleX(0.9);
    
}

.hz.x1 {
    background: linear-gradient(to right, #FFC0CB 30%, #00FFFF 70%);
}

.hz.x2 {
    background: linear-gradient(90deg, #00FFFF, #FFC0CB, #00FFFF);

}

.hz.x3 {
    background: linear-gradient(to left, #FFC0CB 30%, #00FFFF 70%);
}

/* .hz.y1 {
    background: linear-gradient(to top, #FFC0CB 50%, #00FFFF 50%);
}

.hz.y2 {
    background: linear-gradient(to top, #00FFFF 50%, #FFC0CB 50%);
} */

#container {
    width: 610px;
}

#log {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 1.2em;
    background-color: #000;
    color: chartreuse;
    padding: 5px;
    border: 1px solid chartreuse;
    width: 500px;
    height: 100px;
    font-family: monospace;
}